<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Day 3 Storyboard Practice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6A0A781287F342700CFE304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6A0A797287F342C00CFE304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6A0A7A1287F342C00CFE304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
